#Config files
exampleconfig
examplehosts
hosts
config

#Development virtualenv
helper/*

#Compiled python files
*.pyc

#pycache
__pycache__/
tests/__pycache__/

#pytest cache
.pytest_cache/*

#nohup file
nohup.out
